/* Fontes */
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf")
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf")
    format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Estilo Desktop */
body {
    background-color: #0E1014;
    color: #FFFFFF;
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

section h1 {
    font-size: 64px;
    font-family: 'Unbounded', sans-serif;
    margin-top: 60px;
    text-align: center;
}

h1 span {
    color: #9747FF;
}

p {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}

section a {
    font-size: 24px;
    font-family: 'Poppins';
    height: 66px;
    width: 340px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 64px;
    margin: 40px auto;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #9747FF;
}

a:hover {
    background-color: #8233E8;
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

/* Estilo Tablet */
@media(max-width: 768px) {
    header img {
        margin: 65px 0 0 60px;
    }
    p {
        width: 648px;
    }
}

/* Estilo Mobile */
@media(max-width: 375px) {
    header img {
        margin: 32px 0 0 16px;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
        width: 340px;
    }
    a {
        font-size: 20px;
        width: 251px;
    }
    section img {
        width: 340px;
        height: 230px;
    }
}
